@media (prefers-color-scheme: dark) {
  body {
    transition: background 0.2s linear;
  }
  
  body.dark {background-color: var(--dark-background);} /* #9b59b6 */
  
  body.dark td,
  body.dark p {
    color: var(--dark-text);
    text-decoration: none;
  }
  
  body.dark strong,
  body.dark heading,
  body.dark name {
    color: var(--dark-heading-text);
    text-decoration: none;
  }
  
  
  body.dark a {
    color: var(--dark-code-text);
    text-decoration: none;
  }
  
  body.dark papertitle {
    color: var(--dark-papertitle-text);
    text-decoration: none;
  }
  
  body.dark papertitle:focus,
  body.dark papertitle:hover,
  body.dark a:focus,
  body.dark a:hover {
    color: var(--dark-link-hover-text);
    text-decoration: none;
  }
  
  /* body.dark darkImg {
    content: attr(data-dark-src);
  } */
  
  
  /* dark mode toggle checkbox */
  
  .toggle_wrapper {
    margin-top: 10px;
  }
  
  .toggle_dark {
    opacity: 0;
    position: absolute;
  }
  
  .toggle_dark-label {
    margin-left: auto; 
    margin-right: 0;
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: #f1c40f;}
  
  .fa-sun {color: #f39c12;}
  
  .toggle_dark-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .toggle_dark:checked + .toggle_dark-label .ball {
    transform: translateX(24px);
  }
  
  * {box-sizing: border-box;}
}

