/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.profileImg {
  padding: 2.5%;
  width: 40%;
  max-width: 40%;
  margin: 0 auto;
}

.profileImg div > img {
  width: 200px;
  max-width: 100%;
  clip-path: circle();
  background-color: var(--light-background);
}

a {
  color: var(--light-link-text);
  text-decoration: none;
}

papertitle:focus,
papertitle:hover,
a:focus,
a:hover {
  color: var(--light-link-hover-text);
  text-decoration: none;
}

body {
  background-color: var(--light-background);
}
body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px;
}

.redStress {
  font-weight: bold !important;
  color: red !important;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 24px;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--light-papertitle-text)
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.centered-content {
  max-width: var(--main-content-width);
  position: relative;
  overflow: auto;
  margin: 0 auto;
}

.table_general {
  max-width: var(--main-content-width);
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}

.table_publications {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.headingTable {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 4%;
}

.heading {
  margin-left: 5px;
  padding-left: 5px;
}

.heading heading {
  padding-left: 15px;
}

.publicationRow td {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}


.imgCell {
  padding: 10px;
  margin: 0 auto;
  width: 200px;
  vertical-align: middle;
}

.td_contents {
  padding: 10px;
  width: 75%;
  vertical-align: middle
}

.paperImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.paperImg img {
  display: block;
  max-width: 100%;
  height: auto;
}

.paperImg video {
  display: block;
  max-width: 100%;
  height: auto;
}

.coverImg {
  width: 200px;
  height: 200px;
  position: relative;
}

.hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.publicationRow:hover .hoverImg {
  display: block;
  opacity: 1;
}

.imgCellSmall {
  padding: 10px;
  margin: 0 auto;
  width: 150px;
  vertical-align: middle;
}

.paperImgSmall {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

.paperImgSmall img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.footnote {
  text-align: right;
  font-size: small;
}

#btn_back_to_top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 4px;
  background: transparent;
}


