:root {
    --light-background: rgb(250, 250, 250);
    --light-text: #363636;
    --light-heading-text: #000;
    --light-link-text: #0076d1;
    --light-link-hover-text: #f09228;
    --light-code-background: #efefef;
    --light-code-text: #000;
  
    --dark-background: #1d2631;
    --dark-text: #9b9b9b;
    --dark-heading-text: #ffffff;
    --dark-papertitle-text: #ff9b44;
    --dark-link-text: #feb676;
    --dark-link-hover-text: #8e2680;
    --dark-heading-text: #fff;
    --dark-anchor-text: #0076d1;
    --dark-code-background: #161f27;
    --dark-code-text: #ffbe85;
  }